{% extends '../vista_principal.html' %}
{% block titulo %}
Usuarios
{% endblock titulo %}

{% block body %}
<div style="margin-bottom: 10px;">
    <a class="btn btn-primary" href="{% url 'crearUsuario' %}">
        Crear Cuenta Usuario
    </a>
</div>
 
{% if usuarios %}

    <div class="card-header text-center bg-light">
        <strong class="card-title">Listado de Usuarios</strong>
    </div>
    <div class="table-stats order-table ov-h bg-light">
        <table class="table display" id="table_id">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr class="bg-light">
                    <td>{{u.usuarioAgua}}</td>
                    <td>{{u.nombres}}</td>
                    <td>{{u.apellidos}}</td>
                    <td>{{u.cedula}}</td>
                    <td>{{u.celular}}</td>
                    <td>{{u.correo}}</td>
                    <td>
                        <a class="btn btn-primary text-white" onclick="abrir_modal_edicion('{% url 'vista_modificarUsuario' u.idUsuario %}')">
                            Editar Usuario
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h3 class="p-2 text-sm-center bg-light">No existen Usuarios registrados.</h3>

{% endif %}

<div class="modal face" id="creacion" role="dialog"></div>
<div class="modal face" id="edicion" role="dialog"></div>

{% endblock body %}

{% block extrajs %}

<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(document).ready( function () {
        $('#table_id').DataTable({
            "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "language": {
                "url": "//cdn.databases.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                "lengthMenu": "Mostrar _MENU_ ",
                "zeroRecords": "Registro no encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtered from _MAX_ registros totales)",
                "pagingType": "full_numbers",
                "search": "Buscar: ",
            }
        });
    } );
    function abrir_modal_creacion(url){
        $('#creacion').load(url,function(){
            $(this).modal('show')
        });    
    }
    function abrir_modal_edicion(url){
        $('#edicion').load(url,function(){
            $(this).modal('show')
        });
    }
</script>
{% endblock extrajs %}